/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.area{
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

.snake{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid white;
}